
.accordion {
    background-color: #357c7a;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 20px;
    margin: 10px;
    border: #1c3f3e;
  }
  
  .active, .accordion:hover {
    background-color: #1c3f3e;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display:block;
    
    
  }

  .wrapper {
    padding: 20px;
    width: 75%;
    margin: auto;
    background-color: #fff;
    border-radius: 20px;
  }

  .title {
    margin: auto;
    text-align: center;
    padding: 30px;
  }

  .links{
    margin: 5px;
    border-width: 2px;
    padding: 5px;
    font-size: larger;
    display:block;

  }

  .expandButton{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  }

  .title{
    margin: 5px;
    background-image: url('bgimg.jpg');
    background-size: contain;
    color: #fff;
    border-radius: 20px;

  }

  body{
    background-color:slategray;
  }